header {
    height: 90px;
    background-color: #143669;
}
/*izquierdo*/
#contenedor {
    display: flex;
}
  
.left-section {
    width: 25%;
    background-color: #143669;
    height: 100vh;
    text-align: center;
}
.left-section .abogado {
    padding-top: 30px;
    width: 120px;
    height: auto;

}
.navegador {
    text-align: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navegador {
    text-align: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.navegador li {
    display: block;
    margin-bottom: 10px;
}
.navegador a {

    text-decoration: none;
    padding: 10px;
    width: 200px; /* Ancho fijo */
    height: 60px; /* Altura fija */
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #ffffff;
    border-radius: 5px;
    line-height: 40px; /* Alineación vertical */
    transition: background-color 0.3s ease;
}
.navegador a:hover {
    background-color: #181616;
    text-decoration: none;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #143669;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
} 
.dropdown:hover .dropdown-content,
.dropdown.active .dropdown-content {
    display: block;
}
/*derecho*/
.right-section {
    width: 75%;
    height: 100vh;
    background-color: #143669;
}
  